.container {
    margin-top: 2rem;
    height: 40px;
    display: flex;
    background-color: #fff;
    border-radius: 10rem;
    cursor: text;
    width: min(100%, 28em);
    margin-inline: auto;
}

.container > input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 1rem;
    background-color: transparent;
}

.mood {
    display: flex;
    cursor: pointer;
    margin-right: 1rem;
    align-self: center;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.svg-icon {
    width: 20px;
    fill: #000;
}

body {
    background-color: #000;
}